.page-header {
    position: relative;
}

.header-nav {
    position: fixed;
    height: $header-nav-height;
    width: $wrapper-max-width;
    z-index: 20;
    background-color: $yellow;
    width: 100%;
}

.header-menu-button {
    width: $header-nav-height;
    height: $header-nav-height;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
}

.main-nav {
    transition: all 0.5s ease-out 0s;
    height: $header-nav-height;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        text-align: center;
        min-width: 160px;
        &_active {
            a {
                text-decoration: underline;
                opacity: 0.5;
            }
        }
        &_disabled {
            cursor: default;
        }
        a {
            padding: 16px;
            &:hover {
                text-decoration: underline;
                // font-weight: bold;
                // opacity: 1;
            }
        }
    }
}

.planet {
    position: absolute;
    background: url("../assets/images/planet.svg");
    width: 1013px;
    height: 1009px;
    top: -370px;
    z-index: -10;
    right: -310px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: ($header-nav-height + 30px) 100px;

    .header__logo {
        width: 420px;
    }

    .header__contacts {
        @include header;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        & > span,
        & > a {
            padding: 5px;
        }
    }
}
