.page-header {
    position: relative;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);

    &.page-header-background {
        background: linear-gradient(269.08deg, $white-blue 56.15%, $white 94.43%);
    }
}

.header-nav {
    position: fixed;
    height: $header-nav-height;
    // width: $wrapper-max-width;
    z-index: 20;
    background-color: $yellow;
    width: 100%;
}

.main-nav {
    height: $header-nav-height;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        text-align: center;
        min-width: 160px;
        &_active {
            a {
                text-decoration: underline;
                opacity: 0.5;
            }
        }
        &_disabled {
            cursor: default;
        }
        a {
            padding: 16px;
            &:hover,
            &:focus {
                outline: none;
                text-decoration: underline;
                // font-weight: bold;
                // opacity: 1;
            }
        }
    }
}

.planet {
    position: absolute;
    background: url("../assets/images/planet.svg") no-repeat 770px -370px/1013px 1009px;
    width: 100vw;
    height: 200vh;
    z-index: -10;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: ($header-nav-height + 30px) 100px;

    .header__logo {
        max-width: 420px;
        width: 100%;
    }

    .header__contacts {
        @include header;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        & > span,
        & > a {
            padding: 5px;
        }
    }

    &-menu-button {
        position: absolute;
        right: 0;
        visibility: hidden;
        opacity: 0;
        width: 35px;
        height: 30px;
        margin: 25px 15px;
        cursor: pointer;
        display: inline-block;

        &__item {
            background-color: $dark-blue;
            position: absolute;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            transition-duration: 500ms
        }

        &__item:nth-child(1) {
            top: 0px;
            left: 0px;
        }

        &__item:nth-child(2) {
            top: 13px;
            left: 0px;
            opacity: 1;
        }

        &__item:nth-child(3){
            bottom: 0px;
            left: 0px;
        }

        .header-nav--opened &__item:nth-child(1){
            transform: rotate(45deg);
            top: 13px;
        }

        .header-nav--opened &__item:nth-child(2){
            opacity: 0;
        }

        .header-nav--opened &__item:nth-child(3){
            transform: rotate(-45deg);
            top: 13px;
        }
    }
}
