.video-slider {
    background-color: $white-blue;
    position: relative;

    &.page-section-background {
        background-color: $white;
        box-shadow: 0px 0px 30px 5px rgba($dark-blue, 0.1);

        h2 {
            padding-top: 50px;
        }
    }

    .wrapper {
        padding: 20px 120px 50px;
        text-align: center;
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    height: max-content;

    &__wrapper {
        width: 900px;
        overflow: hidden;
    }

    &__list {
        display: flex;
        transition: all 0.5s ease-out 0s;
    }

    &__item {
        display: inline-block;
        width: 300px;
        padding: 22px;
        text-align: center;
        flex-shrink: 0;
    }

    &__button--prev,
    &__button--next {
        @include sub-header;
        height: 170px;
        margin-top: 25px;
        width: 30px;
        font-size: 70px;
        opacity: 0.5;

        &:hover:not(:disabled),
        &:focus {
            outline: none;
            opacity: 1;
        }
    }

    &__dot{
        display: inline-block;
        width: $radio-size;
        height: $radio-size;
        margin-right: $radio-size;
        &:last-of-type {
            margin-right: 0;
        }
        border-radius: 50%;
        background-color: rgba($dark-blue, 0.5);
        cursor: pointer;
        appearance: none;

        &:checked {
            outline: none;
            animation: check 0.5s linear forwards;
            background-color: rgba($dark-blue, 1);
        }
    }
}

.video {
    &__button {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        & .circle,
        & .triangle {
            transition: all 0.1s ease-out 0s;
        }
    }

    &__link {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 16px;
        // border: 1px solid $dark-blue;
        // overflow: hidden;
        background-color: $dark-blue;

        &.link-CRX_RWR91XY {
            background: url('./../assets/images/video-posters/CRX_RWR91XY.jpg') center/cover no-repeat;
        }
        &.link-HY4jG_ca5H8 {
            background: url('./../assets/images/video-posters/HY4jG_ca5H8.jpg') center/cover no-repeat;
        }
        &.link-lG--ZmeEWZg {
            background: url('./../assets/images/video-posters/lG--ZmeEWZg.jpg') center/cover no-repeat;
        }
        &.link-odzqq0RBCMc {
            background: url('./../assets/images/video-posters/odzqq0RBCMc.jpg') center/cover no-repeat;
        }
    }

    &__poster {
        position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        border: none;
        transform: translate(-50%, -50%);
        border: 1px solid $dark-blue;
        border-radius: 16px;
        overflow: hidden;
    }

    &__preview {
        position: relative;
        width: 256px;
        height: 144px;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &:hover .video__button .circle {
            fill: $dark-blue;
            opacity: 1;
        }
        &:hover .video__button .triangle {
            stroke: $white;
            opacity: 1;
        }

        &:hover,
        &:focus {
            transform: scale(1.1);
            outline: none;
        }
    }

    &__name {
        padding-top: 25px;
        display: inline-block;
    }

    &__player {
        width: 100%;
        height: 100%;
    }

    &__container {
        background-color: $white-blue;
        box-shadow: inset 0 0 0 1px $dark-blue,
                    0 10px 25px rgba($dark-blue, 0.5);
        z-index: 50;
        display: block;
        position: fixed;
        top: calc(50% + 25px);
        left: 50%;
        width: $video-rate*16px;
        height: $video-rate*9px;
        max-height: calc(81vh - 27px);
        max-width: calc(144vh - 48px);
        transform: translate(-50%, -50%);

        .close {
            &:after {
                right: -10px;
                top: -10px;
                width: 35px;
                height: 35px;
                position: absolute;
                display: flex;
                z-index: 1;
                align-items: center;
                justify-content: center;
                background-color: $white-blue;
                border: 1px solid $dark-blue;
                border-radius: 50%;
                color: $dark-blue;
                content: "×";
                cursor: pointer;
            }

            &:hover:after {
                background-color: $dark-blue;
                color: $white-blue;
                transform: scale(1.2);
            }
        }
    }

    &__background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba($dark-blue, 0.5);
        z-index: 20;
        top: 0;
        left: 0;
    }
}

@keyframes check {
    50% {
        box-shadow: 0 0 0 $radio-size rgba($dark-blue,0.2);
    }
    100% {
        box-shadow: 0 0 0 0 $dark-blue;
    }
}
